PORT=5000
MONGO_URI=your_mongodb_connection_string


# Note:
# This file is only for reference.
# Create a .env file and paste the MongoDB URI provided by the Team Leader.
# You can keep PORT as 5000 or change it if needed.
# You can delete this file after setup.
